.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDF2F7;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: auto;
    height: 50px;
    margin-right: 8px;
}

.navbar-logo span {
    font-size: 24px;
    font-weight: bold;
    color: #2c2c54;
}
